<ion-header class="header">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Forcast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button>
      <ion-item *ngFor="let data of weathers.list">
        <ion-grid (click)="detailpage(data)">
          <ion-row *ngFor="let w of data.weather">
            <ion-col size="2">
              <img
                src="http://openweathermap.org/img/wn/{{w.icon}}@2x.png"
                height="50px"
              />
            </ion-col>
            <ion-col size="6">
              <ion-label>
                <h5>{{w.main}} - {{w.description}}</h5>
                <br />
                <small>
                  <h6>{{data.dt_txt | date: 'd MMMM - HH aa'}}</h6>
                </small>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-label color="success">
                {{data.main.temp}}°C <br />
                <small>{{data.main.temp_min}} - {{data.main.temp_max}}°C</small>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </button>
  </ion-list>
</ion-content>



<!-- <ion-content [fullscreen]="true">
  <ion-list>
	<div id="container" class="konten" >
		<div *ngFor="let data of weathers.list">
			<div *ngFor="let w of data.weather">
				<div class="d-flex ion-justify-content-between ">
					<div class="d-flex align-items-center">
						<img src="http://openweathermap.org/img/wn/{{w.icon}}@2x.png" height="50px" />
						<div>
							<h5>{{w.main}} - {{w.description}}</h5>
							<h6>{{data.dt_txt | date: 'd MMMM - HH aa'}}</h6>
						</div>
					</div>

					<div slot="end" id="suhu">
						<h6 >{{data.main.temp}}°C</h6>
						<p >{{data.main.temp_min}} - {{data.main.temp_max}}°C</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-list>
</ion-content> -->
